*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html {
	position: relative;
	font-family: Montserrat;
	background: rgb(0,0,0) linear-gradient(0deg #fff 0%, #fff 0%, #000 100%);
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content{
	flex: 1 1 auto;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* HEADER */
.header {
	position: relative;
	z-index: 2;
	padding: 20px;
	text-transform: uppercase;
	text-decoration: none;
	background: #F7B443;
	border-radius: 0 0 20px 20px;
	box-shadow: 2px 2px 25px #000;	

	/* font-weight: 700;
	font-size: 24px; */
	
}
.navigation{
	display: flex;
	justify-content: space-between;
}
.nav__link {
	text-align: center;
	color: #fff;
	padding: 0 80px;
	text-shadow: #000 1px 0 10px;
	border-right: #d6921b 2px solid;
}
.navigation__item:first-child{
	border-left: #d6921b 2px solid;
}

/* ABOUT */
.about {
	position: relative;
	top: -20px;
	z-index: 1;
	padding: 80px 0 60px;
	background-image: url(/img/background/bg2.jpg);
	border-radius: 0 0 25px 25px;
	overflow: hidden;
}
.about__body{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.about__image{
	max-width: 250px;
}
.about__image img{
	border: #F7B443 5px solid;
	border-radius: 50% 50%;
	overflow: hidden;
	height: 250px;
	width: 250px;
	box-shadow: 1px 1px 15px #000;
}
.about__descr{
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 64px;
}
.descr__title{
	font-size: 52px;
}
.descr__subtitle{
	font-weight: 400;
	font-size: 18px;
}


/* SUMMARY */
.summary{
	position: relative;
	top: -50px;
	padding: 80px 0 60px 0;
	background: url(/img/background/bg5.jpg) center center/cover no-repeat;
	min-height: 800px;
}
.summary__body{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}
.summary__item {
	left: 0;
	top: 0;
	position: relative;
	z-index: 2;
	padding: 16px;
	border: #000 1px solid;
	border-radius: 5px;
	background-color: rgba(209, 101, 13, 0.3);
	box-shadow: 2px 2px 25px #000;	
	
}
.item__title{
	margin-top: 8px;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.item__text{
	margin-top: 24px;
	font-size: 26px;
	line-height: 48px;
	font-weight: 400;
	color: #fff;
}






/* FOOTER */
.footer{
	padding: 25px 0 ;
	background-color: rgb(70, 73, 96);
	border-radius: 20px 20px 0 0;
}
.footer__body{
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__item .footer__item-text{
	text-decoration: none;
	font-weight: 700;
	font-size: 24px;
	color: #000;
}
.footer__item-link a{
	font-size: 24px;
	font-weight: 700;
	color: #000;
	text-decoration: none;
}
.footer__item .logo {
	width: 60px;
}














/* .footer__item-img {
	width: 95px;
	height: 35px;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}  */